#header h2{
    display:none;
 }
 
 form li.leftHalfCustom, form li.leftThird, form li.leftFourth, form li.leftFifth{
   clear: left;
   float: left;
 }

 form li.leftHalfCustom, form li.rightHalfCustom {
   width: 47%!important;
}

form li.rightHalfCustom, form li.rightThird, form li.rightFourth, form li.rightFifth {
   clear: none !important;
   float: right;
}

 form li.leftHalfCustom, form li.rightHalfCustom {
   width: 47%!important;
 }

 input.field, textarea.field, select.field{
    border: 3px solid black!important;
    padding:10px!important;
    box-sizing:border-box!important;
 }
 .buttons{
    text-align:center;
 }
 
 #saveForm{
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: transparent;
    border: 3px solid black;
    font-size: 20px;
    text-transform: uppercase;
    font-family: Bebas;
 }
 
 #saveForm:hover{
    background-color:black;
    color:white;
    border-color:white;
    cursor:pointer;
 }
 
 @media (max-width: 599px) {
    form li.responsive{
        width:97%!important;
    }
  }