.wufoo label.desc{
  letter-spacing: 2px;
  font-weight: bold;
}

#saveForm {
    font-size: 100%;
    border: 0px!important;
    color: gray;
    text-transform: uppercase;
    box-shadow: 2px;
    box-shadow: 1px 1px 15px 1px #888888;
    
   letter-spacing: 2px;
   transition-duration: .3s;
   padding: 30px;
   }

#saveForm:hover{
  color: white;
  background-color: #cdb262;
}
