input.field {
  height: 60px;
  color: black;
  background-color: rgba(255, 255, 255, 0) !important;
  border: 1px #000;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.79);
  border-radius: 0.5px;
  margin-bottom: 40px;
  margin-right: 40px;
  font-family: Montserrat, sans-serif !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  width: 100%;
  vertical-align: middle;
  padding: 8px 12px;
  line-height: 1.42857;
  display: block;
}

li:has(.checkbox) {
  display: flex;
  justify-content: center;
}

#saveForm {
  color: rgb(20, 48, 94);
  -webkit-appearance: button;
  font-size: 40px;
  text-transform: uppercase;
  background-color: rgba(56, 152, 236, 0);
  margin-top: -28px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  line-height: inherit;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}
