#saveForm {
   
    border: 0px!important;
    color: white;
   letter-spacing: 2px;
   transition-duration: .3s;
   padding: 15px 40px 15px 40px;
   background-color: #fc6f00;
   border-radius: 5px;
   }

#saveForm:hover{
  background-color: #8c0fff;
}

.wufoo input.text {
     box-shadow: 0px!important;
    padding: 8px 2px 8px 2px;
}

.wufoo select.select{
    box-shadow: 0px!important;
    padding: 8px 2px 8px 2px;
}
