#saveForm {
   
    border: 0px!important;
    color: white;
    text-transform: uppercase;
   letter-spacing: 2px;
   transition-duration: .3s;
   padding: 15px 30px 15px 30px;
   background-color: #fc6f00;
   border-radius: 8px;
   }

#saveForm:hover{
  background-color: #8c0fff;
}

.wufoo input.text {
     box-shadow: 0px!important;
    padding: 8px 12px 8px 12px;
}

.wufoo select.select{
    box-shadow: 0px!important;
    padding: 8px 12px 8px 12px;
}
