#saveForm{
  
    border: 0px!important;
    color: #004258;
    text-transform: uppercase;
   letter-spacing: 1px;
   transition-duration: .3s;
   padding: 20px 30px 20px 30px;
  color:white;
   }

#saveForm:hover{

   opacity: 0.5;
 
}

